# -- App --
PORT=8080
FRONTEND_DIR=
FRONTEND_URL=
API_BASE_URL=

# -- FutureAuth --
FUTUREAUTH_SECRET_KEY=your_futureauth_secret_key

# -- Database --
DATABASE_URL=postgresql://user:pass@localhost/agentblogs?sslmode=require
